# **Varible**

### Basic variable

In [ ]:
nama = 'Sasuke'
umur = '25'

In [ ]:
nama

In [ ]:
type(nama)

In [ ]:
umur

In [ ]:
umur = 25

In [ ]:
type(umur)

In [ ]:
jomblo = True

In [ ]:
type(jomblo)

### **Catatan**:
Penggunaan untuk `"` dan `'` dalam pemanggilan string atau melakukan printing

In [ ]:
print(f"Nama: {Nama}")
print(f"NIM : {NIM}")

In [ ]:
print(f"Nama: {Nama}")
print(f'NIM : "{NIM}"')

In [ ]:
print(f"Nama: {Nama}")
print(f"NIM : '{NIM}'")

In [ ]:
print(f"Nama: {Nama}")
print(f"NIM : \"{NIM}\"")

### Case 1

Buat sebuah variable `nama` dan `NRP` teman-teman lalu panggil di dalam jupyter-notebook!

In [ ]:
Nama = 'Christian Putra'
NIM = 201440007

In [ ]:
Nama

In [ ]:
NIM

In [ ]:
print(Nama)
print(NIM)

In [ ]:
print(f"Nama: {Nama}")
print(f"NIM : {NIM}")

### Case 2

Konversi program untuk memanggil variable `name` dan `NRP` yang sudah dibuat dalam jupyter-notebook ke file python atau `*.py` dengan nama file `variable.py`!

### Arithmetic Operation

In [3]:
a = 10
b = 5

a + b

15

In [4]:
c = a + b

In [5]:
c

15

c = c + 1

In [6]:
#Increment
c += 1

In [7]:
c

16

In [ ]:
c -= 5

In [ ]:
c

In [8]:
e = 40
f = 20

print(e * f)
print(e / f)
print(e + f)
print(e - f)
print(e % f)  # Hasil bagi disebut 'mod'
print(e ** 2)

800
2.0
60
20
0
1600

### Case 3

Konversi perhitungan pytagoras berikut menjadi sebuah program yang berjalan di jupyter-notebook!

![title](https://akupintar.id/documents/portlet_file_entry/20143/2+%284%29.png/d8907cd9-a23e-b777-4594-f3355af498cb?imagePreview=1)

In [14]:
AB = 12
BC = 5

In [18]:
AC = (AB**2 + BC**2)

In [27]:
AC ** 0.5

13.0

### Case 4

Konversi perhitungan pytagoras yang sebelumnya berjalan di jupyter-notebook menjadi sebuah file python atau `*.py` dengan nama file `pythagoras.py`!

### Tuple

In [34]:
tup1 = ('physics', 'chemistry', 1997, 2000)
tup2 = (1, 2, 3, 4, 5, 6, 7 )

print("Print all tuple1: ", tup1)
print("Print all tuple2: ", tup2)
print("Print tuple1 element-0: ", tup1[0])
print("Print tuple1 element-1 until 5: ", tup2[1:5])
print("Join two tuple: ", tup1 + tup2)

Print all tuple1:  ('physics', 'chemistry', 1997, 2000)
Print all tuple2:  (1, 2, 3, 4, 5, 6, 7)
Print tuple1 element-0:  physics
Print tuple1 element-1 until 5:  (2, 3, 4, 5)
Join two tuple:  ('physics', 'chemistry', 1997, 2000, 1, 2, 3, 4, 5, 6, 7)

In [35]:
tup1[1]

'chemistry'

In [36]:
len(tup1)

4

In [38]:
tup2[3]

4

### List

In [46]:
list1 = ['physics', 'chemistry', 1997, 2000]
list2 = [1, 2, 3, 4, 5, 6, 7 ]

print("Print all list: ", list1)
print("Print list element-0: ", list1[0])
print("Print list element-1: ", list1[1])
print("Print list element-1 until 3: ", list1[1:3])
print("Print list element-1 until 4: ",list1[1:4])
print("Print list element-2 until end: ",list1[2:])
print("Print list twice: ",list2 * 2)
print("Join two list: ", list1 + list2, "\n")

Print all list:  ['physics', 'chemistry', 1997, 2000]
Print list element-0:  physics
Print list element-1:  chemistry
Print list element-1 until 3:  ['chemistry', 1997]
Print list element-1 until 4:  ['chemistry', 1997, 2000]
Print list element-2 until end:  [1997, 2000]
Print list twice:  [1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7]
Join two list:  ['physics', 'chemistry', 1997, 2000, 1, 2, 3, 4, 5, 6, 7]

In [48]:
print("Print list element-1 until 4: ",list1[1:4])

Print list element-1 until 4:  ['chemistry', 1997, 2000]

In [49]:
print("Print list element-1 until 4: ",list1[1:len(list1)])

Print list element-1 until 4:  ['chemistry', 1997, 2000]

### Case 5

Uncomment cell dibawah ini lalu kemudian eksekusi dan amati perbedaanya!

List:

In [47]:
list1

['physics', 'chemistry', 1997, 2000]

In [50]:
list1[1] = 'math'

In [51]:
list1

['physics', 'math', 1997, 2000]

Tupple:

In [52]:
tup1

('physics', 'chemistry', 1997, 2000)

In [56]:
tup1[1] = 'math'

TypeError: 'tuple' object does not support item assignment

In [54]:
tup1[1]

'chemistry'

In [55]:
tup1

('physics', 'chemistry', 1997, 2000)

Simpulkan dan jawab pada sel dibawah ya! dan jangan lupa cell dibawah diganti ke format MD atau Markdown.

**Tuple dan List**

Perbedaan utama antara tuple dan list adalah sifatnya. Tuple bersifat immutable, sedangkan list bersifat mutable. Hal ini berarti bahwa tuple tidak dapat diubah setelah dibuat, sedangkan list dapat diubah. Tuple umumnya digunakan untuk **menyimpan data yang tidak perlu diubah**, misalnya **konstanta atau data yang digunakan untuk identifikasi**. List umumnya digunakan untuk **menyimpan data yang dapat berubah**, misalnya **data yang digunakan untuk menyimpan hasil perhitungan atau data yang digunakan untuk menyimpan daftar item**.

Penggunaan Tuple dan List:
- Tuple dapat digunakan untuk menyimpan koordinat titik pada bidang koordinat.
- List dapat digunakan untuk menyimpan daftar nama siswa di kelas.
- Tuple dapat digunakan untuk menyimpan nama-nama negara dalam abjad.
- List dapat digunakan untuk menyimpan daftar nilai ujian.

### String

In [57]:
g = 'Sasuke pergi ke pasar'

print(len(g))
print(g.split(' '))
print(g.lower())
print(g.upper())

21
['Sasuke', 'pergi', 'ke', 'pasar']
sasuke pergi ke pasar
SASUKE PERGI KE PASAR

In [60]:
sasuke_do = 'Sasuke, tolong beli permen!'
sasuke_do.split(",")

['Sasuke', ' tolong beli permen!']

In [61]:
sasuke_do.split(",")[0]

'Sasuke'

In [64]:
type(sasuke_do.split(",")[0])

str

In [62]:
type(sasuke_do.split(","))

list

### Case 6

Buat sebuah variable yang berisi string perkenalan nama dan umur, misal:

"Halo.. Nama saya Sasuke, saya berusia 90 tahun!"

**Print variable tersebut dan split berdasarkan spasi menjadi sebuah list kemudian print juga yang versi List!**

In [68]:
a = 'Halo.. Nama saya Sasuke, saya berusia 90 tahun!'

print(a)
print(a.lower())
print(a.upper())
a.split(" ")

Halo.. Nama saya Sasuke, saya berusia 90 tahun!
halo.. nama saya sasuke, saya berusia 90 tahun!
HALO.. NAMA SAYA SASUKE, SAYA BERUSIA 90 TAHUN!

['Halo..', 'Nama', 'saya', 'Sasuke,', 'saya', 'berusia', '90', 'tahun!']

In [71]:
type(a.split(" "))

list

### Convert String to Number

In [69]:
h = '25'
i = int(h)

print(type(h))
print(i)
print(type(i))

<class 'str'>
25
<class 'int'>

### Case 7

Convert umur dalam List yang sebelumnya dibuat dan tersimpan dalam **Case 6** menjadi sebuah integer!

In [70]:
a = 'Halo.. Nama saya Sasuke, saya berusia 90 tahun!'

umur  = '90'
umur1 = int(umur)

print(type(umur))
print(umur1)
print(type(umur1))

<class 'str'>
90
<class 'int'>

### Case 8

Convert **Case 6** dan **Case 7** menjadi sebuah program python dengan nama `list_string.py`!

### Math Module

In [72]:
import math

print(round(6.4))
print(round(6.8))
print(math.floor(6.8))
print(math.ceil(6.8))

6
7
6
7

### Case 9

Terapkan Math module pada **Case 3** dan convert menjadi sebuah program python dengan extension `*.py` dengan nama `math_module`!

In [73]:
AB = 12
BC = 5
AC = (AB**2 + BC**2)

math.sqrt(AC)

13.0

### Dictionary

+ jumlahnya 1: `{'key': value}`
+ jumlahnya lebih dari 1: `{'key1': value1, 'key2': value2, 'key3': {'key3.1': value31, 'key3.2': value32}}`

In [1]:
dict1 = {}
dict1['one'] = "This is one"
dict1[2] = "This is two"
tinydict = {'name': 'john','code':6734, 'dept': {'pos': 'sales', 'pos': 'engineering'}}

print("Print dictionary on dict1['one']: ", dict1['one'])
print("Print dictionary on dict1[2]: ",dict1[2])
print("Print dictionary on dict1: ", dict1)
print("Print dictionary on tinydict: ", tinydict)
print("Print tinydict dictionary keys: ", tinydict.keys())
print("Print tinydict dictionary values: ", tinydict.values(), "\n")

Print dictionary on dict1['one']:  This is one
Print dictionary on dict1[2]:  This is two
Print dictionary on dict1:  {'one': 'This is one', 2: 'This is two'}
Print dictionary on tinydict:  {'name': 'john', 'code': 6734, 'dept': {'pos': 'engineering'}}
Print tinydict dictionary keys:  dict_keys(['name', 'code', 'dept'])
Print tinydict dictionary values:  dict_values(['john', 6734, {'pos': 'engineering'}])

### Case 10

Buat sebuah data diri teman-teman ke sebuah dictionary, Contoh:

```
{
    'nama': 'sasuke uciha',
    'nim': 2221100025,
    'alamat': 'jl. Madara no. 10, Konohagakure, Hi no Kuni',
    'usia': 17
}
```

Lalu convert dictionary tersebut ke dalam sebuah file `*.json` dan juga buat versi file python nya!

In [11]:
x['nama']   = "Christian Putra"
x['nim']    = "201440007"
x['alamat'] = "Balikpapan, Kalimantan Timur"
x['umur']   = "20"

In [12]:
x

{'nama': 'Christian Putra',
 'nim': '201440007',
 'alamat': 'Balikpapan, Kalimantan Timur',
 'umur': '20'}

In [13]:
(x.keys())

dict_keys(['nama', 'nim', 'alamat', 'umur'])

In [14]:
(x.values())

dict_values(['Christian Putra', '201440007', 'Balikpapan, Kalimantan Timur', '20'])